{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="profileEditApp">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>
